# OSX
.DS_Store

# Xcode
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/.xcode.env.local

# Android/IntelliJ
build/
.idea
.gradle
local.properties
*.iml
*.hprof
.cxx/

# Node.js
node_modules/
npm-debug.*
yarn-debug.*
yarn-error.*

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# Fastlane
**/fastlane/report.xml
**/fastlane/Preview.html
**/fastlane/screenshots
**/fastlane/test_output

# Bundle
*.jsbundle

# VS Code
.vscode

# Expo
.expo/
dist/
web-build/
bin/Exponent.app
/android
/ios

# Environment files
.env
.env.local
.env.development
.env.production
.env.*

# Secrets
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# Testing
/coverage

# TypeScript
*.tsbuildinfo

# Metro
.metro-health-check*